@import "normalize.css";
* {
  box-sizing: border-box;
}

body{
  margin: 0;
  background: #222;
}

ul {
  height: 18.875em;
  width: 18.3em;
  margin: 5em auto;
  padding: 3em 0 0 3em;
  position: relative;
  border: 1px solid #160801;
  border-radius: 1em;
  box-shadow: 0 0 50px rgba(0,0,0,0.5) inset, 0 1px rgba(212,152,125,0.2) inset,0 5px 15px rgba(0,0,0,0.5);
}

ul.lower {
    background: #6565ff;
}

ul.higher {
  background: #d51818;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: left;
  cursor: pointer;
}

ul .white {
	height: 16em;
  width: 4em;
  z-index: 1;
	border-left: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	border-radius: 0 0 5px 5px;
	box-shadow: -1px 0 0 rgba(255,255,255,0.8) inset, 0 0 5px #ccc inset, 0 0 3px rgba(0,0,0,0.2);
	background: -webkit-linear-gradient(top, #eee 0%,#fff 100%);
	background: linear-gradient(top, #eee 0%,#fff 100%);
}

ul .white:active {
	border-top: 1px solid #777;
	border-left: 1px solid #999;
	border-bottom: 1px solid #999;
	box-shadow: 2px 0 3px rgba(0,0,0,0.1) inset, -5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
	background: -webkit-linear-gradient(top, #fff 0%,#e9e9e9 100%);
	background: linear-gradient(top, #fff 0%,#e9e9e9 100%);
}

.black {
	height: 8em;
  width: 2em;
  margin: 0 0 0 -1em;
  z-index: 2;
	border: 1px solid #000;
	border-radius: 0 0 3px 3px;
	box-shadow: -1px -1px 2px rgba(255,255,255,0.2) inset, 0 -5px 2px 3px rgba(0,0,0,0.6) inset, 0 2px 4px rgba(0,0,0,0.5);
	background: -webkit-linear-gradient(45deg, #222 0%,#555 100%);
	background: linear-gradient(45deg, #222 0%,#555 100%);
}

.black:active {
	box-shadow: -1px -1px 2px rgba(255,255,255,0.2) inset, 0 -2px 2px 3px rgba(0,0,0,0.6) inset, 0 1px 2px rgba(0,0,0,0.5);
	background: -webkit-linear-gradient(left, #444 0%,#222 100%);
	background: linear-gradient(left, #444 0%,#222 100%);
}

ul li:first-child {
  border-radius: 5px 0 5px 5px;
}

ul li:nth-child(n+2) {
  margin: 0 0 0 -1em;
}

ul li:last-child {
  border-radius: 0 5px 5px 5px;
}
